html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Lato_Thin';
  src: url("../fonts/lato-thin_baseline.woff2") format("woff2"), url("../fonts/lato-thin_baseline.woff") format("woff"), url("../fonts/lato-thin_baseline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato_Bold';
  src: url("../fonts/lato-bold_baseline.woff2") format("woff2"), url("../fonts/lato-bold_baseline.woff") format("woff"), url("../fonts/lato-bold_baseline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato_Light';
  src: url("../fonts/lato-light_baseline.woff2") format("woff2"), url("../fonts/lato-light_baseline.woff") format("woff"), url("../fonts/lato-light_baseline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #404040;
  padding: 60px 20px;
  background-color: #fff;
  background-repeat: repeat-y;
  background-size: 100% 20px;
  background-image: -webkit-linear-gradient(top, #0ff 0, rgba(255, 255, 255, 0) 1px);
  background-image: linear-gradient(to bottom, #0ff 0, rgba(255, 255, 255, 0) 1px);
}

main {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.base {
  line-height: 0;
}

.base:before {
  content: '';
  height: 1em;
  display: inline-block;
}

body {
  font-family: "Lato_Light";
}

h1 {
  font-family: "Lato_Thin";
  margin-bottom: 80px;
  margin-top: 60px;
  color: #999;
  text-align: center;
  font-size: 100px;
}

h1 > .base {
  font-size: 80px;
}

h2 {
  color: #404040;
  font-family: "Lato_Bold";
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  position: relative;
  overflow: visible;
  font-size: 60px;
}

h2 > .base {
  font-size: 55px;
}

h3 {
  color: #999;
  font-family: "Lato_Bold";
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
}

h3 > .base {
  font-size: 35px;
}

p {
  color: #404040;
  font-family: "Lato_Light";
  margin-bottom: 20px;
  font-size: 40px;
}

p > .base {
  font-size: 24px;
}
