@font-face {
  font-family: 'Baselined_Lato_Reg';
  src: url('../fonts/lato-regular_baseline.woff2') format('woff2'), url('../fonts/lato-regular_baseline.woff') format('woff'), url('../fonts/lato-regular_baseline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}