@font-face {
  font-family: 'Lato_Regular';
  src: url('../fonts/lato-regular_baseline.woff2') format('woff2'), url('../fonts/lato-regular_baseline.woff') format('woff'), url('../fonts/lato-regular_baseline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_Thin';
  src: url('../fonts/lato-thin_baseline.woff2') format('woff2'), url('../fonts/lato-thin_baseline.woff') format('woff'), url('../fonts/lato-thin_baseline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_Bold';
  src: url('../fonts/lato-bold_baseline.woff2') format('woff2'), url('../fonts/lato-bold_baseline.woff') format('woff'), url('../fonts/lato-bold_baseline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'Lato_Light';
  src: url('../fonts/lato-light_baseline.woff2') format('woff2'), url('../fonts/lato-light_baseline.woff') format('woff'), url('../fonts/lato-light_baseline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_Medium';
  src: url('../fonts/lato-medium_baseline.woff2') format('woff2'), url('../fonts/lato-medium_baseline.woff') format('woff'), url('../fonts/lato-medium_baseline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'pt_monoregular';
    src: url('../fonts/ptm55ft-baseline.woff2') format('woff2'),
         url('../fonts/ptm55ft-baseline.woff') format('woff'),
         url('../fonts/ptm55ft-baseline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}