@include baselineInit(
  $container: 'body',
  $selector: '.base',
  $baselineFont: $latoLight
);
body * {
  transition: all .15s;
}
body {
  color: map-get($colors, body)
}
h1 {
  font-family: map-get($fonts, h1); // baselined font
  margin-bottom: 4 * $gridSize; // margins should be mults of grid
  margin-top: 3 * $gridSize; // margins should be mults of grid
  @include baselineBlock(
    $selector: '.base',
    $lineHeight: 8*$gridSize,
    $fontSize: 160px
  );
  color: map-get($colors, h1);
  text-align: center;
  @include respond-to(small) {
    display: none;
  }
  @include respond-to(medium) {
    @include baselineBlock(
      $selector: '.base',
      $lineHeight: 7*$gridSize,
      $fontSize: 120px
    );
  }
}
h2 {
  color: map-get($colors, h2);
  font-family: map-get($fonts, h2); // baselined font
  margin-top: 3 * $gridSize; // margins should be mults of grid
  @include baselineBlock(
    $selector: '.base',
    $lineHeight: (2*$gridSize),
    $fontSize: 20px
  );
  text-align: center;
  text-transform: uppercase;
  @include respond-to(small) {
    margin-top: 2 * $gridSize;
    @include baselineBlock(
      $selector: '.base',
      $lineHeight: ($gridSize),
      $fontSize: 16px
    );
  }
}
h3 {
  color: map-get($colors, h3);
  font-family: map-get($fonts, h3); // baselined font
  margin-bottom: 6 * $gridSize; // margins should be mults of grid
  @include baselineBlock(
    $selector: '.base',
    $lineHeight: (3*$gridSize),
    $fontSize: 50px
  );
  text-align: center;
  position: relative;
  overflow: visible;
  @include respond-to(small) {
    margin-bottom: 3 * $gridSize;
    margin-top: 0;
    @include baselineBlock(
      $selector: '.base',
      $lineHeight: (2*$gridSize),
      $fontSize: 28px
    );
  }
}
h3 .base { /* Adding line underneath */
  position: relative;
}
h3 .base:after { /* Adding line underneath */
  content: '';
  position: absolute;
  left: 10%;
  bottom: -40px;
  width: 80%;
  height: 4px;
  background-color: $blue;
  @include respond-to(small) {
    bottom: -20px;
  }
}
main a {
  color: map-get($colors, a);
  text-decoration: none;
  border-bottom: 3px solid $blue;
  padding-bottom: 10px;
  font-family: map-get($fonts, a);
  transition: .15s;
  @include respond-to(small) {
    border-bottom: none;
  }
  &:hover {
    border-color: $midnightblue;
    color: $midnightblue;
  }
}
pre {
  background-color: rgba(0, 156, 252, .05);
  border-radius: 7px;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
}
code {
  color: map-get($colors, code);
  font-family: map-get($fonts, code); // baselined font
  @include baselineBlock(
    $selector: '.base',
    $lineHeight: (2*$gridSize),
    $fontSize: 20px
  );
  @include respond-to(small) {
    @include baselineBlock(
      $selector: '.base',
      $lineHeight: ($gridSize),
      $fontSize: 14px
    );
  }
}
ul {
  margin-bottom: $gridSize; // margins should be mults of grid
}
p, li {
  color: map-get($colors, body);
  font-family: map-get($fonts, body); // baselined font
  margin-bottom: $gridSize; // margins should be mults of grid
  @include baselineBlock(
    $selector: '.base',
    $lineHeight: (2*$gridSize),
    $fontSize: 24px
  );
  @include respond-to(small) {
    @include baselineBlock(
      $selector: '.base',
      $lineHeight: ($gridSize),
      $fontSize: 17px
    );
  }
}
ol {
  margin: $gridDouble 0 $gridDouble $gridTriple; // margins should be mults of grid
}
li:before {
  content: '\25AA';
  position: absolute;
  margin-left: -$gridSize;
  font-size: 24px;
  margin-top: (2*$gridSize) - 25px;
  color: $blue;
  @include respond-to(small) {
    font-size: 16px;
    margin-top: $gridSize - 16px;
  }
}
li {
  position: relative;
  padding-left: $gridSize;
}
strong {
  font-family: map-get($fonts, strong);
  color: map-get($colors, strong)
}
.single-out {
  background: rgba(0, 156, 252, .09);
  padding: .15em .6em .4em .6em;
  border-radius: 5px;
  white-space: nowrap;
  font-size: 20px;
  font-family: $latoBold;
  @include respond-to(small) {
    font-size: 15px;
    padding: .01em .5em .3em .5em;
  }
}
.small {
  font-family: map-get($fonts, body); // baselined font
  @include baselineBlock(
    $selector: '.base',
    $lineHeight: $gridSize,
    $fontSize: 15px
  );
  margin-bottom: $gridSize
}
.comment {
  color: rgba(0,0,0,.3)
}
.txt-blue {
  color: $blue;
}
