@font-face {
  font-family: 'Lato_Thin';
  src: url('../fonts/lato-thin_baseline.woff2') format('woff2'), url('../fonts/lato-thin_baseline.woff') format('woff'), url('../fonts/lato-thin_baseline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_Bold';
  src: url('../fonts/lato-bold_baseline.woff2') format('woff2'), url('../fonts/lato-bold_baseline.woff') format('woff'), url('../fonts/lato-bold_baseline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato_Light';
  src: url('../fonts/lato-light_baseline.woff2') format('woff2'), url('../fonts/lato-light_baseline.woff') format('woff'), url('../fonts/lato-light_baseline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}