@mixin baselineInit($container, $selector, $baselineFont){
  #{$selector} {
    line-height: 0;
  }
  #{$selector}:before {
    content: '';
    height: 1em;
    display: inline-block;
    font-size: 0 // So the "base" font-size does not interfer with the line-height --- good measure, especially for Firefox
  }
  #{$container} {
    font-family: $baselineFont
  }
}

@mixin baselineBlock($selector, $lineHeight, $fontSize) {
  font-size: $lineHeight; // Should be a multiple of grid
  > #{$selector} {
    font-size: $fontSize; // Does not need to be a multiple of grid
  }
}