@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: 767px) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (max-width: 992px) and (min-width: 767px)  {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (max-width: 1200px) and (min-width: 992px) {
      @content;
    }
  }
  @else if $breakpoint == "xlarge" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}