//--- BASELINE GRID ---//
$gridSize: 20px; // Define base size
$gridDouble: 2*$gridSize;
$gridTriple: 3*$gridSize;
$gridQuartel: 4*$gridSize;

//--- FONT FAMILIES ---//
$latoLight: 'Lato_Light';
$latoBold: 'Lato_Bold';
$latoThin: 'Lato_Thin';
$latoRegular: 'Lato_Regular';
$monoSpaced: 'pt_monoregular';

//--- COLORS ---//
$grayCosmos: #313139;
$grayMidnight: #464852;
$grayDusk: #363840;
$grayLight: #9da1b0;
$grayMute: #b1b4c3;
$yellowMustard: #f7ad35;
$redOrange: orangered;
$teal: #46beac;
$blue: #0687df;
$midnightblue: #00106d;
$ltblue: #f0f7fe;
$blue2: #0687df;

$fonts: (
  h1: $latoThin,
  brand: $latoLight,
  h2: $latoBold,
  h3: $latoBold,
  body: $latoLight,
  a: $latoBold,
  strong: $latoBold,
  code: $monoSpaced,
  navbtns: $latoRegular
);

$colors: (
  h1: #999,
  brand: #999,
  h2: #999,
  h3: #404040,
  body: #404040,
  a: $blue,
  strong: #000,
  code: #404040,
  navbtns: #404040
);

// Backgrounds
$bgcolorBody: #fff;
$bgcolorNav: #fff;


