//--- BASELINE GRID ---//
$gridSize: 20px; // Define base size
$gridDouble: 2*$gridSize;
$gridTriple: 3*$gridSize;
$gridQuartel: 4*$gridSize;

//--- COLORS ---//
$grayCosmos: #313139;
$grayMidnight: #464852;
$grayDusk: #363840;
$grayLight: #9da1b0;
$grayMute: #b1b4c3;
$yellowMustard: #f7ad35;
$redOrange: orangered;
$teal: #46beac;
$blue: #0687df;
$midnightblue: #00106d;
$ltblue: #f0f7fe;
$blue2: #0687df;

$fonts: (
  h1: 'Lato',
  brand: 'Lato',
  h2: 'Lato',
  h3: 'Lato',
  body: 'Lato',
  a: 'Lato',
  strong: 'Lato',
  code: 'Inconsolata',
  navbtns: 'Lato'
);

$colors: (
  h1: #999,
  brand: #999,
  h2: #999,
  h3: #404040,
  body: #404040,
  a: $blue,
  strong: #000,
  code: #404040,
  navbtns: #404040
);

// Backgrounds
$bgcolorBody: #fff;
$bgcolorNav: #fff;


